<header class="header">
  <h1>Your Lists</h1>
  
  <%= form_with model: @list, local: true do |list_form| %>
    <%= main_field list_form, :title, 'Make a new list' %>
  <% end %>

</header>


<section class="main">

  <ul class="todo-list">
    <%= render partial: 'list_li', collection: @lists, as: :list %>
  </ul>

</section>
