<section class="todoapp">
  
  <header class="header">
    <h1>Your Lists</h1>
    
    <%= form_with model: @list, local: true do |f| %>
      <%= f.text_field :title, class: 'new-todo', autofocus: true, 
      placeholder: (error_text('title', @list) || 'Make a new list') %>
    <% end %>

  </header>

  <section class="main">

    <ul class="todo-list">
      
      <% @lists.each do |list| %>

        <li>
          <div class="view">
            <label><%= link_to list.title, list %></label>
          </div>
        </li>

      <% end %>

    </ul>

  </section>

</section> <!-- todoapp -->

