<% set_list_title %>

<header class="header">
  <%= form_with model: [@list, @collaborator_list], local: true do |form| %>
    <%= form.email_field :collaborator_email, class: 'new-todo', autofocus: true, placeholder: 'Share with some one (email)' %>
  <% end %>
  <%= render 'lists/sharing_errors' %>
</header>

<section class="main">
  <h4 id="shared_with">Shared with</h4>
  <ul class="todo-list">
    <%= render(partial: 'collaborator_lists/collaborator_list_li', collection: @list.collaborator_lists_with_collaborators, 
      as: :collaborator_list, locals: { list: @list}) || empty_collection_error('Currently shared with no one')  %>
  </ul>
</section>
