<header class="header">
  <h1><%= @list.title %></h1>
  
  <%= form_with model: [@list, @task], local: true do |task_form| %>
    <%= main_field task_form, :description, 'Add a new task' %>
  <% end %>

</header>

<section class="main">

  <ul class="todo-list">
    
    <%= render collection: @list.tasks, partial: 'tasks/task_li', as: :task %>

  </ul>

</section>
