<section class="todoapp">
  
  <header class="header">
    <h1><%= @list.title %></h1>
    
    <%= form_with model: [@list, @task] do |task_form| %>
      <%= task_form.text_field :description, class: 'new-todo', autofocus: true, 
      placeholder: (error_text(:description, @task) || 'Add a new task') %>
    <% end %>
    
  </header>

  <section class="main">

    <ul class="todo-list">
      <% @list.tasks.each do |task| %>
        <li>
          <div class="view">
            <label><%= task.description %></label>
          </div>
        </li>
      <% end %>
    </ul>

  </section>

</section>
