<header class="header">
  <h1>Log in</h1>
  
  <%= form_with url: login_path, local: true do |form| %>
    <%= form.email_field :email, class: 'new-todo', autofocus: true, placeholder: 'Enter your email', required: true %>

    <%= form.password_field :password, class: 'new-todo', autofocus: true, placeholder: 'Enter your password', required: true %>

    <button type="submit" class="auth_button">Log in</button>
  <% end %>

</header>
