<%= form_with model: [@list, task] do |task_form| %>

  <%= task_form.check_box :complete, class: 'toggle', 
  checked: task.complete?, id: id_for_task(task) %>

  <label><%= task.description %></label>
<% end %>
