<header class="header">
  <h1>Sign Up</h1>
  
  <%= form_with model: @user, url: signup_path, local: true do |form| %>
    <%= form.email_field :email, class: 'new-todo', autofocus: true, placeholder: 'Enter your email', required: true %>

    <%= form.password_field :password, class: 'new-todo', autofocus: true, placeholder: 'Enter your password', minlength: 6, required: true %>

    <%= form.password_field :password_confirmation, class: 'new-todo', autofocus: true, placeholder: 'Confirm Password', min: 6, required: true %>

    <button type="submit" class="auth_button">Sign Up</button>
  <% end %>

</header>
