<header class="header">
  <h1>TodoMVC</h1>

</header>

<section class="main">
  <div class="intro">
    <p>Make TODO Lists with ease.</p>
    <p>Track stuff that needs to be done.</p>

    <p><%= link_to 'Log in', login_path %></p>
    <p><%= link_to 'Sign Up', signup_path %></p>
  </div>
  
</section>
