<section class="main">
  <div class="intro">
    <p>Make TODO Lists with ease.</p>
    <p>Track stuff that needs to be done.</p>

    <p><%= link_to 'Sign in', new_user_session_path %></p>
    <p><%= link_to 'Sign up', new_user_registration_path %></p>
  </div>

  </div>

</section>


