p#email_error {
  color: red;
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 18px;
}

h4#shared_with {
  margin: 0;
  padding: 15px;
  padding-bottom: 5px;
}

h5#empty_collection_error {
  margin: 0;
  padding: 15px;
  font-weight: normal;
}

.shared_text {
  margin-left: 10px;
}
