<footer class="info">
  <p><%= current_user.email if logged_in? %></p>
  <p><%= link_to 'Home', root_path %></p>
  <p><%= button_to 'Log out', logout_path, method: :delete if logged_in? %></p>
</footer>
